.contextlinklistuser {
  margin-top: 70px;
}
.ListDeviceTT {
  margin-top: 80px;
}
.contextlinklistuser h2 {
  text-align: center;
}

.button-add {
  margin-left: 70px;
  margin-bottom: 30px;
}
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 90%;
  margin-left: 5%;
  overflow: auto;
  display: block;
}

.form-header-component {
  display: flex;
}
.form-seach {
  margin-left: 30px;
  display: flex;
}
.input-search {
  height: 40px;
  border-radius: 10px;
  width: 300px;
  padding-left: 20px;
}
i.fa.fa-pencil,
i.fa.fa-trash {
  cursor: pointer;
  font-size: 20px;
}
i.fa.fa-trash {
  font-size: 20px;
  color: red;
}
i.fa.fa-pencil {
  color: green;
}
td {
  width: 10%;
}
td,
th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
  text-align: center;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

.buttoncreateuser {
  margin-bottom: 20px;
}

select {
  width: 100%;
  padding: 7px;
  border-radius: 5px;
  background-color: #fff;
  background-clip: padding-box;
}
.imguser {
  width: 100px;
  height: 100px;
  border: 1px solid gray;
  cursor: pointer;
}

input[type='file'] {
  display: none;
}
.imgavatar {
  width: 50px;
  height: 50px;
}
.formSearch {
  display: flex;
}
.inputsearch {
  margin-left: 30px;
  margin-right: 15px;
  margin-top: 3px;
}
.buttonsearch {
  margin-left: 30px;
  height: 40px;
  margin-top: 3px;
}
